<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.1" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.12" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="thinktectureUIAnnotationsWPF" version="0.10" />
</packages>