<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Extended.Wpf.Toolkit" version="1.7.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.Conventions" version="3.0.0.11" />
  <package id="Ninject.Extensions.Factory" version="3.0.1.0" targetFramework="net40" />
  <package id="thinktectureUIAnnotationsWPF" version="0.10" />
  <package id="WpfLocalizeExtension" version="1.0.2" />
</packages>